html{
    background-color: black;
}
img{
    height: 250px;
    border: 5px white,solid;
    margin: 0px;
}
div{
    text-align: center;
}
h1{
    color: white;
    font-size: 2.5rem;
    margin: 5px;
    font-family: "Bitcount Grid Double", system-ui;
    font-weight: 250;
    text-transform: uppercase;
}
p{
    color: #FF004D;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    margin: 5px;
}